/* @page :left {
  margin-left: 10mm;
  margin-right: 4mm;
} */

@page {
  size: 3cm portrait;
  margin: 0.2mm;
}

@media print {
  #qrcBody {
    width: 3cm;
    width: 3cm;
    margin: inherit;
    text-align: center;
  }
  #qrcBody img {
    width: 2.5cm;
    height: 2.5cm;
    margin-left: 0.5cm;
  }
  #qrcBody p {
    margin: 0;
    font-size: 6pt;
  }
}